@import "./mixins.less";
@import "./var/system.less";

// 主要配置
@primary: #030383;
@textColor: #333333;
@fontSize: 15px;
@transparent: transparent;
@white: #fff;

:export {
  primary: @primary;
  textColor: @textColor;
  fontSize: @fontSize;
}
